fastapi
langchain
langchain-openai
pandas
pydantic
PyPDF2
python-docx
python-dotenv
requests
SQLAlchemy
streamlit
streamlit-autorefresh
uvicorn[standard]
openpyxl
shareplum
fastapi
langchain
langchain-openai
openpyxl
pandas
plotly
pydantic
PyPDF2
python-docx
python-dotenv
PyGithub
requests
SQLAlchemy
streamlit
python-Levenshtein
thefuzz 
streamlit-autorefresh
uvicorn[standard]